# Ignore virtual environment
venv/
data/
lib/
include/
notebooks/
share/
processed/
src/plotseamap/processed_data/
src/plotseamap/output
src/bearing/processed_data

#git rm -r --cached src/plotseamap/output
#git commit -m "Ignore output directory"